<section class="footer-description">
  <section class="description">{{@blog.description}} | <a href="/rss">RSS</a></section>
  <section class="copyright">&copy; {{date format="YYYY"}} <a href="/">Andrew Schwartzmeyer</a>. All rights reserved.</section>
  <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org/"><span class="hidden">Ghost</span></a></section>
  <section class="theme">Vapor theme by <a href="https://github.com/sethlilly/Vapor">Seth Lilly</a></section>
</section>
