<nav class="menu" role="nav">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/public/resume/resume.pdf">Resume</a></li>
      <li><a href="https://github.com/andschwa">GitHub</a></li>
      <li><a href="https://twitter.com/AndSchwa">Twitter</a></li>
      <li><a href="/blogroll">Blogroll</a></li>
    </ul>
</nav>
